<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'shop101/css/bootstrap.min.css' %}" />
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">

        <a class="navbar-brand" href="#">SHOP101</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="/">hi {{user.username}}!</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="/user/logout">logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="/user/login">login</a>
                    </li>
                    {% endif %}

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="home">...</div>
                <div class="tab-pane container fade" id="menu1">...</div>

            </div>

        </button>



    </nav>


    <div class="container">
        <div class="row">
            {% for product in product_list %}
            <div class="col-12 col-lg-3 col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src={{product.image_url}}
                        class="card-img-top" alt="..." height=219px width="219px">
                    <div class="card-body">
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <a href="product/{{product.id}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{%static 'shop101/css/bootstrap.min.css' %}"></script>
</body>

</html> 